.list{
    background-color: black;
    color: rgb(11, 201, 52);
}

body{
    background-color: black;
}

h1{
    color: rgb(11, 201, 52);
}

h2{
    color: rgb(11, 201, 52);
}

p{
    color: rgb(11, 201, 52);
}

.title{
    background-color: rgb(201, 23, 201);
}

.link{
    color: blueviolet;
}

.list .meat{
    color: red;
}

.cheese{
    color:yellow
}